<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo</servlet-name>
    <servlet-class>RequestDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContextDemo</servlet-name>
    <servlet-class>ContextDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShareDemo</servlet-name>
    <servlet-class>AttributeSetterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo</servlet-name>
    <servlet-class>ResponseDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Simple</servlet-name>
    <servlet-class>SimpleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LF</servlet-name>
    <servlet-class>LifeCycleDemoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextDemo</servlet-name>
    <url-pattern>/context</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShareDemo</servlet-name>
    <url-pattern>/context-share</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Simple</servlet-name>
    <url-pattern>/simple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LF</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>
</web-app> 